<h2>おうちアプリへようこそ</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name,"なまえ" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  
  <div class="field">
    <%= f.label :email,"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード（６文字以上）" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "確認用パスワード" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "password_confirmation" %>
  </div>

  <div class="actions">
    <%= f.submit "新規作成" %>
  </div>
  <div>続行することで、おうちアプリの
  <%= link_to "利用規約","#" %>
  および
  <%= link_to "プライバシー規約","#" %>
  に同意するものとみなされます。
  </div>
  <div class="legal-text">
        続行することで、おうちアプリの
        <%= link_to "利用規約","#" %>
        および
        <%= link_to "プライバシー規約","#" %>
        に同意するものとみなされます。
      </div>

<% end %>

<%= render "devise/shared/links" %>
