<div>
<hr>

<h1>マイページ</h1>

<hr>
<div>
    <div><%= link_to "ユーザー情報の編集画面", mypage_edit_users_path %></div>
<div>
<div>
  <%= link_to "トップページへもどる", homes_path %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>項目</th>
      <th>金額</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>今までの収入の合計</td>
      <td><%= @income_total.to_s(:delimited) %>円</td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>今までの支出の合計</td>
      <td><%= @outcome_total.to_s(:delimited) %>円</td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>収支</td>
      <td><%= @balance.to_s(:delimited) %>円</td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">＃</th>
      <td>#####</td>
          <td><%=  %></td>
          <td></td>
    </tr>

    <tr>
      <th scope="row">4</th>
      <td>月毎の収支</td>
          <td></td>
          <td></td>
    </tr>

    <tr>
      <th scope="row">5</th>
      <td>【収入】
      <% @monthly_incomes.each do |month| %></td>
        <td><%= month[:month] %>
        <%= month[:incomes] %>円</td>
      <% end %>
    </tr>

    <tr>
      <th scope="row">6</th>
      <td>【支出】
      <% @monthly_outcomes.each do |month| %></td>
        <td><%= month[:month] %>
        <%= month[:outcomes] %>円</td>
      <% end %>
    </tr>
  </tbody>
</table>

<div><label>年の収支</label></div>

<div><label>プレゼント用</label></div>

<div><label>やりたいこと用</label></div>


<div class="mx-auto" style="width: 50rem; height 20rem;">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">収入の合計</h4>
        <p class="card-text">
        <%= @income_total.to_s(:delimited) %>円
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">支出の合計</h4>
        <p class="card-text"><%= @outcome_total.to_s(:delimited) %>円</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">残高</h4>
        <p class="card-text"><%= @balance.to_s(:delimited) %>円</p>
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="texts-wrapper">
   <div class="contents-title text-center">
     <h3>月ごとの収入</h3>
     <div class="row">
       <% @monthly_incomes.each do |month| %>
         <div class="col-12 col-md-6 col-lg-4">
           <div class="card">
            <%= image_tag "/pan.png" %>
               <div class="card-body">
                <p class="card-title">
                <%= month[:month] %>
                <%= month[:incomes] %>円</p>
               </div>
           </div>
         </div>
       <% end %>
     </div>
   </div>
 </div> 


</div>
