<div class="mx-auto" style="width: 600px;">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">おこづかい帳アプリ</h4>
          <ul class="tab-list list-unstyled">
            <li class="tab tab-active">
              <%= @outcomename %>
            </li>
            <li class="tab">
              <%= @incomename %>
            </li>
          </ul>
      <h5 class="card-text">

  <div class="tabbox-contents">
  <div class="tabbox box-show">
    <%= render 'layouts/list' %>
  </div>
  <div class="tabbox">
    <%= render 'layouts/form' %>
  </div>
</div>



====
<div class="tabtab">
          <ul class="tab__menu list-unstyled">
            <li class="tab__menu-item is-active" data-tab="01">支出</li>
            <li class="tab__menu-item" data-tab="02">収入</li>
          </ul>

          <div class="tab__panel">
            <div class="tab__panel-box tab__panel-box001 is-show" data-panel="01">
              <p class="tab__panel-text"><%= render 'layouts/list' %></p>
            </div>
            <div class="tab__panel-box tab__panel-box002" data-panel="02">
              <p class="tab__panel-text"><%= render 'layouts/form' %></p>
            </div>
</div>

