<div class="mx-auto" style="width: 900px;">
<% pagename = "カテゴリの一覧" %>
  <h1 class="card-title"><%= pagename %></h1>

<br><br>

<table class="table table-hover">
    <thead>
      <tr class="th">
        <th>No</th>
        <th>カテゴリー名</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @income_categories.each do |income_category| %>
        <tr class="th">
          <td><%= income_category[:id] %></td>
          <td><%= income_category.name %></td>
          <td></td>
          <td><%= link_to "詳細", income_category_path(income_category), class: "link-btn show" %></td>
          <td><%= link_to "編集", edit_income_category_path(income_category.id), class:"link-btn" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <div>
    <%= link_to "トップページへ", homes_path, class:"submit-color back" %>
  </div>



</div>




