<p>outcome_form</p>
<%= form_with model: @outcome, local: true do |f| %>
    <div>
      <%= f.label :price,"金額" %>
      <%= f.number_field :price  %>
    </div>
    <div>
      <%= f.label :memo,"メモ" %>
      <%= f.text_field :memo %>
    </div>
    <div>
      <% @outcome_categories.each do |outcome_category| %>
      <div>
        <%= f.radio_button(:outcome_category_id, "#{outcome_category.id}" ) %>
        <%= f.label :outcome_category_id, "#{outcome_category.name}", {value: outcome_category.id.to_i, style: "display: inline-block;"} %>
      </div>
      <% end %>
    </div>

    <div>
      <%= f.label :image,"写真" %>
      <%= f.file_field :image %>
    </div>
    <div><%= f.submit "入力する" %></div>
<% end %>

<div>
  <%= link_to "支出の一覧へ", :outcomes %>
  <%= link_to "カテゴリの作成、編集、削除", :new_outcome_category %>
  <br>
  <%= link_to "やりたいことリストへ", :wants %>
</div>

